{% extends "admin.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit">aa</button>
                {{ form_end(form) }}
            </div>
            <div class="col-12 col-sm-8">
                <div class="row">
                {% for item in media %}
                    <div class="col-12 col-sm-4">
                        {{ item.name }}
                        <br>
                        {{ item.url }}
                        <img src="{{ item.url }}" alt="" class="img-thumbnail">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
